@import '../../../styles.scss';

.background-color {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#00899e, $primary-light);
}

.horizontal-align {
    margin: auto;
    width: 50%;
    height: 100vh;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .vertical-align {
        width: 25em;
        min-width: 20em;
        height: 28em;
        background-color: #e7e7e7;
        border-radius: 5px;
        box-shadow: 0px 2px 5px;

        .login-header {
            p {
                font-family: 'Ubuntu', 'sans-serif';
                padding-top: 1em;
                padding-bottom: 0.5em;
                font-size: 2em;
                font-weight: bold;
                text-align: center;
            }

            hr {
                border: 0;
                height: 1px;
                background: #333;
                background-image: linear-gradient(to right, #ccc, #333, #ccc);
            }
        }

        .login-form-container {
            padding: 2em;
            
            .form-group {
                margin-bottom: 2em;

                input {
                    color: $secondary-dark;
                    padding: 1.5em 1em;
                    border-radius: 5px;
                    border-color: $secondary-dark;
                }
            }

            .submit-group {
                text-align: center;

                button {
                    width: 100%;
                    margin-top: 2em;
                    background-color: darken($color: $primary-dark, $amount: 5%);
                    border-color: $secondary-dark;

                    &:hover {
                        background-color: darken($color: $primary-dark, $amount: 15%);
                    }
                }
            }
        }
    }
}

