<app-main-navbar></app-main-navbar>

<div class="body-div">
    <h1> Title </h1>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
    <p>Homepage stuff goes here</p>
</div>