/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Import Toaster Service */
@import '~ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$primary: #00e5ff;
$primary-light: #6effff;
$primary-dark: #00b2cc;
$secondary: #607d8b;
$secondary-light: #8eacbb;
$secondary-dark: #34515e;
$body-background-blue: #f2fbff;

body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: $body-background-blue;
}

.body-div {
    padding-top: 5.5rem;
    width: 80%;
    margin: 0 auto;
}