@import '../../../../styles.scss';

header {
    width: 100%;
    height: 4em;
    background-color: $primary;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 8px;

    p {
        transition: all 0.5s ease;
        color: white;
        text-decoration: none;
        background-color: $primary-dark;
        width: 14rem;
        min-width: 11rem;
        height: 4rem;
        text-align: center;
        padding-top: 1rem;
        font-size: 1.3em;

        &:hover {
            width: 16rem;
        }
    }

    nav {
        float: right;
        padding-top: 1.2rem;
        width: 22rem;
        margin-right: 3rem;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            // li a {
            //     color: $secondary-dark;
            //     padding: 1em;
            //     text-decoration: none;
            //     font-size: 1.1em;
            // }

            li .btn-primary {
                border: none;
                color: $secondary-dark;
                padding: 0 1em;
                font-size: 1.1em;
                margin-right: 4px;
                background-color: $primary;

                &:hover {
                    background-color: $primary;
                    color: lighten($color: $secondary-dark, $amount: 20%)
                }
                &:focus {
                    background-color: $primary-light;
                    outline: none;
                } 
            }

            .nav-settings-btn {
                margin-top: 0;
                .btn-outline-primary {
                    border: none;
                    color: $secondary-dark;
                    padding: 0 1em;
                    font-size: 1.1em;

                    &:hover {
                        background-color: $primary;
                        color: lighten($color: $secondary-dark, $amount: 20%)
                    }
                    &:focus {
                        background-color: $primary-light;
                        outline: none;
                    }
                }
            }

            .inside-dropdown {
                button:hover {
                    background-color: $secondary-light;
                }
            }
        }
    }
}