<header>
    <p>Notary Planner</p>
    <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/">Scheduler</a></li>
          <li>
            <div ngbDropdown class="nav-settings-btn">
                <button class="btn btn-outline-primary" id="navSettings" ngbDropdownToggle>Settings</button>
                <div class="inside-dropdown" ngbDropdownMenu aria-labelledby="navSettings">
                  <button ngbDropdownItem>My Account</button>
                  <button ngbDropdownItem>Manage Users</button>
                  <button ngbDropdownItem>Sign Out</button>
                </div>
              </div>
          </li>
        </ul>
      </nav>
</header>