<header>
    <p>Notary Planner</p>
    <nav>
        <ul>
          <li>
            <button class="btn btn-primary" type="submit" (click)="goHome()">
                <div>Home</div>
            </button>
          </li>
          <li>
            <button class="btn btn-primary" type="submit" (click)="goSchedule()">
                <div>Scheduler</div>
            </button>
          </li>
          <li>
            <div ngbDropdown class="nav-settings-btn">
                <button class="btn btn-outline-primary" id="navSettings" ngbDropdownToggle>Settings</button>
                <div class="inside-dropdown" ngbDropdownMenu aria-labelledby="navSettings">
                  <button ngbDropdownItem>My Account</button>
                  <button ngbDropdownItem>Manage Users</button>
                  <button (click)="logout()" ngbDropdownItem>Sign Out</button>
                </div>
              </div>
          </li>
        </ul>
      </nav>
</header>